{% extends "layout.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'season/css/season_style.css' %}">

    <div class = 'single_section'>
        <div class = 'section_title'>최근 5년간 가을 차트에 가장 많이 등장하는 장르 TOP 5</div>
        <div class = 'main_pie_chart'>
            <canvas id = "top5GenrePie"></canvas>
        </div>
    </div>

    <div class = 'single_section'>
        <div class = 'section_title_long'>장르별 차트 진입 횟수 TOP 5 노래</div>
        <div class = 'double_section'>
            <div class = 'section_left'>
                <a id = 'album_title'>{{ selected_genre }} TOP 3</a>

                <div class="top3_song">
                    {% for name, count in top3_songs %}
                    <div class="top_song">
                        <a class="rank">{{ forloop.counter }}</a>
                        <img src="https://placehold.co/200x200" width="150" height="150" alt="{{ forloop.counter }}"> 
                        <a class='song_name'>{{ name }}</a>
                        <a class='song_count'>차트 진입 : {{ count }}회</a>
                    </div>
                    {% endfor %}
                </div>

                <select id = 'select_genre'>
                    {% for genre in top5_selector %}
                    <option value = '{{ genre }}'
                            {% if genre == selected_genre %}
                            selected
                            {% endif %}>
                            {{ genre }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            
            <div class = 'section_right'>
                <canvas id = "top3SongBarChart"></canvas>
            </div>
        </div>
    </div>
    
    <div class = 'single_section'>
        <div class = section_title>다른 계절 보기</div>
        <div class = 'list_wrapper'>
            <dl class = 'season_list'>
                <dd>
                    <a class = 'season_image' href = '{% url "season:season_spring" %}'>
                        <img src = 'https://placehold.co/150x150'>
                    </a>
                </dd>
                <dd>
                    <span class = 'season_name'>봄</span>
                </dd>
            </dl>
            <dl class = 'season_list'>
                <dd>
                    <a class = 'season_image' href = '{% url "season:season_summer" %}'>
                        <img src = 'https://placehold.co/150x150'>
                    </a>
                </dd>
                <dd>
                    <span class = 'season_name'>여름</span>
                </dd>
            </dl>
            <dl class = 'season_list'>
                <dd>
                    <a class = 'season_image' href = '{% url "season:season_winter" %}'>
                        <img src = 'https://placehold.co/150x150'>
                    </a>
                </dd>
                <dd>
                    <span class = 'season_name'>겨울</span>
                </dd>
            </dl>
        </div>
    </div>

    {{ top5_genre|json_script:"top5Genre" }}
    {{ top5_genre_count|json_script:"top5GenreCount" }}
    {{ top3_songs|json_script:"top3Song" }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src = "{% static 'season/js/pie_chart.js' %}"></script>
    <script src = "{% static 'season/js/genre_chart.js' %}"></script>
{% endblock %}