{% extends "layout.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/season_style.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<h3>최근 5년간 TOP100 차트에 가장 많이 들어온 노래 TOP5</h3>
<div class = "top5_chart" style= "width: 1200px; height: 600px; margin: 0 auto;" >
    <canvas id = "top5Chart"></canvas>
</div>
<script>
    const labels = {{ top5_song_name|safe }};
    const data = {{ top5_song_count|safe }};
    const ctx = document.getElementById('top5Chart').getContext('2d');
    const top5Chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: '차트 진입 횟수',
                data: data,
                backgroundColor : [
                    'rgba(255, 255, 153, 0.7)',
                    'rgba(152, 255, 152, 0.7)',
                    'rgba(173, 216, 230, 0.7)',
                    'rgba(221, 160, 221, 0.7)',
                    'rgba(255, 192, 203, 0.7)',
                ]
            }]
        },
        options: {
            scales: {
                y: { beginAtZero: true }
            }
        }
    });
</script>

<h3>다른 계절 보기</h3>
<div class = 'list_wrapper'>
    <dl class = 'season_list'>
        <dd>
            <a class = 'season_image' href = '{% url "season:season_summer" %}'>
                <img src = 'https://placehold.co/150x150'>
            </a>
        </dd>
        <dd>
            <span class = 'season_name'>여름</span>
        </dd>
    </dl>
    <dl class = 'season_list'>
        <dd>
            <a class = 'season_image' href = '{% url "season:season_fall" %}'>
                <img src = 'https://placehold.co/150x150'>
            </a>
        </dd>
        <dd>
            <span class = 'season_name'>가을</span>
        </dd>
    </dl>
    <dl class = 'season_list'>
        <dd>
            <a class = 'season_image' href = '{% url "season:season_winter" %}'>
                <img src = 'https://placehold.co/150x150'>
            </a>
        </dd>
        <dd>
            <span class = 'season_name'>겨울</span>
        </dd>
    </dl>
</div>
{% endblock %}