.chart-container {
    width: 80%;
    margin: 0 auto;
}
canvas {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.melon-chart {
    text-align: center;
}

.weekly-comment li{
    margin-bottom: 10px;
}