h3 {
    text-align : center;
    font-size : 2rem;
    margin-left : 45px;
}

.main_chart_row {
    display : flex;
    justify-content : center;
    align-items : center;
    gap : 40px;
}

.list_wrapper {
    display : flex;
    justify-content : center;
    text-align : center;
}

.season_list {
    padding : 20px;
}